body {
	margin: 0 auto;
	max-width: 50em;
	padding: 12px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
}

h1, h2 {
	color: #444;
	text-align: center;
}

p {
	color: #444; 
	text-align: justify;
}

img {
	width: 180px;
	margin: 10px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix:after  {
	content: "";
	display: block;
	clear: both;
}
/*the content and display blocks are boilerplate, this is an empty box that clears the prior element*/

.columnsfloat p {
	width: 33%;
	float: left; 
	padding: 6px; 
}
/*example of float problems with industry-standard columns - can't get this to display correctly*/

.columnsflex {
	display: flex;
}

.columnsflex p {
	padding: 6px;
	width: 33%;
}

.gallery {
	display: flex;
	/*read the w3 description of this ... sort of auto-columns things*/
	justify-content: center;
	/*this makes the pictures center on the div it's inside*/
	align-items: center;
	/*if I remember correctly, this aligns them on a center baseline*/
	flex-wrap: wrap;
	/*this will wrap the images onto the next line after it hits the edge of the container*/
}

.gallery img {
	height: 300px;
}
/*this sets the attributes for all img's under the gallery div*/


